<!-- Validation failure messages -->

<% if @uniqueresource.errors.any? %>
  <% @uniqueresource.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Uniqueresource #<%= @uniqueresource.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_uniqueresource/<%= @uniqueresource.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for broken -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="broken">
                  <input type="checkbox" id="broken" name="broken" value="1" <%= "checked" if @uniqueresource.broken %>>
                  Broken
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for lost -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="lost">
                  <input type="checkbox" id="lost" name="lost" value="1" <%= "checked" if @uniqueresource.lost %>>
                  Lost
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for rating -->
          <div class="form-group">
            <label for="rating" class="col-sm-2 control-label">
              Rating
            </label>
            <div class="col-sm-10">
              <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @uniqueresource.rating %>">
            </div>
          </div>

          <!-- Label and input for learningunit_id -->
          <div class="form-group">
            <label for="learningunit_id" class="col-sm-2 control-label">
              Learningunit
            </label>
            <div class="col-sm-10">
              <%= select_tag(:learningunit_id, options_from_collection_for_select(Learningunit.all, :id, :network_theme, @uniqueresource.learningunit_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for mastertoy_id -->
          <div class="form-group">
            <label for="mastertoy_id" class="col-sm-2 control-label">
              Mastertoy
            </label>
            <div class="col-sm-10">
              <%= select_tag(:mastertoy_id, options_from_collection_for_select(Mastertoy.all, :id, :name, @uniqueresource.mastertoy_id), :class => "form-control") %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Uniqueresource
              </button>
              or
              <a href="/uniqueresources/<%= @uniqueresource.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
