<div class="jumbotron">
  <h1>sharEd Advocate Portal</h1>
  <p>This portal is the one-stop log in for sharEd Advocates who are managing a network of schools and the learning units that are being shared by these schools. </p>
  <p><a class="btn btn-primary btn-lg" href="http://www.sharedforkids.com" role="button">Learn more about sharEd</a></p>
</div>



<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
